body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://thejoshyee.github.io/rock-paper-scissors/images/arena.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#paper:hover, #rock:hover, #scissors:hover {
    background-color: rgb(117, 214, 255);
    transition: 0.5s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 70%;
  background-color: white;
  font-weight: bold;
  font-size: 30px;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main-content {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 95px;
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    padding-bottom: 30px;
    color: rgb(152, 18, 18);
    font-style: italic;
    font-size: 35px;
    font-family: 'Caveat', cursive;
}

.choose {
    font-style: italic;
}

#weapons {
    padding-bottom: 40px;
}

#scores {
    display: flex;
    justify-content:space-around;
    
}

.question, .choose {
    font-size: 25px;
}

.crown {
    display: flex;
    margin: auto;
    width: 25%;
    margin-bottom: 70px;
}

main {
    background-color:rgba(255, 255, 255, 0.8);
    padding: 50px;
    height: auto;
    width: auto;
}

#outcome {
    font-weight: bold;
    padding-bottom: -500px;

}


#message {
    color: red;
    font-size: 35px;
    margin: 10px;
}

.question {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#rock {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px black; */
    margin: 25px;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    border: none;
    background-color: rgb(172, 172, 172);


}

#paper {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px black; */
    margin: 25px;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    border: none;
    background-color: rgb(172, 172, 172);
}

#scissors {

    font-size: 2rem;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px black; */
    margin: 25px;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    border: none;
    background-color: rgb(172, 172, 172);

}

.yourScore {
    font-size: 25px;
    font-weight: bolder;
}

#playerScore {
    font-size: 25px;
    color: red;
}

.computerScore {
    font-size: 25px;
    font-weight: bolder;

}

#computerScore {
    font-size: 25px;
    color: red;
}




@media (min-width: 900px) {
    .buttons {
        display: flex;
        flex-direction: row;
    }


}
